.action-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 18rem;
  background-color: #CCF;
  text-align: center;
  cursor: pointer;
}
