.die {
  $block: &;
  width: 18rem;
  height: 18rem;

  &--locked {
    fill: #400;

    #{$block}__spot {
      fill: #900;
    }
  }

  &--unlocked {
    fill: #050;

    #{$block}__spot {
      fill: #0C0;
    }
  }

  &--example {
    width: 10rem;
    height: 10rem;
    fill: #555;

    #{$block}__spot {
      fill: #AAA;
    }
  }

  &--example-scored {
    width: 10rem;
    height: 10rem;
    fill: #474;

    #{$block}__spot {
      fill: #ADA;
    }
  }

  &--clickable {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
}
