.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #000;

  &--desktop {
    max-width: 100rem;
    margin: auto;
    border-radius: 3vh;
    border: 0.6vh solid #000;
    overflow: hidden;
    box-shadow: 0 0 8px #555;
  }
}

.menu-bar {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2em;
  padding: 0.5em;
  font-weight: bold;
  background-color: #333;
  color: #FFF;
}

.menu-button {
  fill: currentColor;
  height: 100%;
}

.menu {
  flex-grow: 1;
  background-color: #EEE;
}

.scoreboard-pane {
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
}

.dice-pane {
  flex-shrink: 0;
  height: 21rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 0;
  background-color: #EEE;
}

.message-pane {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-height: 18rem;
  background-color: #CCF;
  text-align: center;
  cursor: pointer;

  &--tutorial {
    font-size: 2.2vh;

    &:before {
      content: 'TUTORIAL';
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 1.6vh;
      font-weight: bold;
      color: #999;
      padding: 0.2em;
    }
  }
}

.dice-example {
  display: flex;
  align-items: center;
  margin-top: 0.5em;

  .die {
    margin-right: 0.25em;
  }
}
