.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #000;

  &--desktop {
    max-width: 100rem;
    margin: auto;
    border-radius: 3vh;
    border: 0.6vh solid #000;
    overflow: hidden;
    box-shadow: 0 0 8px #555;
  }
}

.scoreboard-pane {
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
}

.dice-pane {
  flex-shrink: 0;
  height: 21rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 0;
  background-color: #EEE;
}
