.stats {
  &__stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
  }

  &__high-score-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    cursor: pointer;
  }
}
