.stats {
  margin-top: 1em;

  &__stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
  }

  &__divider {
    margin: 0 -0.5em 0.5em -0.5em;
    border-bottom: 1px solid #BBB;
  }
}
